.trip-duration {
    background-color: var(--color-lightestgray);
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
    text-align: center;
}

.trip-duration h3 {
    color: var(--color-darkblue);
    margin: 0 0 10px 0;
    font-size: 18px;
}

.trip-duration p {
    color: var(--color-purple);
    margin: 0;
    font-size: 16px;
} 